// for  sort-section
@include media-breakpoint-up(xxl) {
    .sort-section-banner   {
        @include  custom-banner('https://lh3.googleusercontent.com/I6lawznc8kXAclhXD5o2ItdYHlmNbB2vgOf_LfUT_rb5-kwLUPfLiWyoV-bHMUiYl-TGk0blip_FHs2nwahzD3Az5uk-RB0a3cL5iZxRrVRyviHKH45pNpxOOg4E9hKrZh0grc4MxbsplRE5queh-F9geTrqyEWjbP1goRzIovOWo-HcSJp8weHgxdNgoAvT5rn1w0YY4U_fEKaWwXFCm2I9gAE984zAiPGNfKemtU78rK-0QxM4gPbohsNoubB0wopwAYJkTxlhbGoN7ArZ-UmPeX1i6u0RiVArf11-Z4rkz7JZRzTaxwYJCtel63CzYp7PCiLisJLLSL-hMxveXyT7d8kuDjF-I-5yL1_wOM-OBoLtyEy7J9CVx-TKzKlMvguLqQOEaQcwdtfe786IdlTYwC3qjxd1lp7zLi2TvjvOgevEpydGYUa2Fi_16SMHk21O9NUvTLIZq3NODBkJ0W0aJ6LogN6gQxqLp5F2bHDQ3b50n6XEwJ0QiisVD2zIsVn80YA4qs1PPiDBJxffCE2UxpcVsUHe1RwDCDK9rlagidvs6zeh6pzoYxcafqE-wiZZ3HZSs_B5ZprHoq98wcwJz3LWOuheoLiKVXUGRjI5QUGNOKtNyy8-FqY3thp0haN65Bv5-8SzSyyv0LUKVkSehsmucnLjlpmcHTFLnkGVHcIsiibYFY7pio1mAqcQD0fHtTrdxIawtO65srXwGNzyRWnFIFiLZkuXIt_Fv2HgLKMatMjKnwE2GamL2C3TI5e41U6RD5bRUuCroZsvabOm3DhtEt1rmtIHfLj5I0WpF-zF3RKp9Pe67ovzdb63L4StvPLvWsOvmpEpSK9bE445suK7qz6WBsm9gNWRz8dk052Gi3dx6LmmJcjxwaYW7G9iwn9B_ZmguVePbDhZNgsETrmaETh2_qDFsgfz4qwiuydyjNVbiQ8gVrUlcq58BMyJkXwxdgCurAZDe0TX2Bm9sSbpeY2oSbe25cybacIgiRsQnJMuYQ=w312-h640-no?authuser=0',right)
    };
};


// for course-section
.course-section-banner {
    @include  custom-banner('https://lh3.googleusercontent.com/QH_3eKqIQ2rl-ecT3opmahsVabDuqXoxAj3BzHNsVUOYmeCa1Smn_luMF5d9mEPjQAFo_YtX8MmtIlaGkxyChAqohTFpa1iCqGLlrJhRik12zYCIbMYFuXRp5WuJAfY7BMxsByhO39n36bBKObvvlE9eQo5GZAkgzr5gDn39xBqzpTSf1RPUB5TJ8b6cwoZmzXgL8jumgTAAf7Zf7rMLUkHTBwGFRQUNdz8fnK45QE83z30KBrzpyDDV4eRQ4hxuI9kUln57I2PtxUJ71DwLUBCHEQdY_LqX0RRhEVgiKfjn_IrMbsYxS_vmGOOdf2-9gRQhbk0lZTNkx_S1Dhwd4IZelZJgBlfY_HhMWr5MTmTOAz7sHrsfA3pzHZQQ-JSXTFDtSHX1tjLFckTPt5EwpqeiwuQFiORd2pI9_rrHcpnetDA6W6CxR83exMEzfNZgAHAbGExc9HUhCw44vLV5TnFJxd5LkzUgOpelQz31RtAef3dFjsBZ3wcgl7BDC3d3Gh_Eyv2NymJLppiKmIOSWgNc1VHNnE5BYnA7hE6utTsk7mC2Aj23hwgeSyWnN1GAqMDBmMTwTx5i8Y-LFcD_aE7qDv-TWEILdYn7GsohuJppNBCR4-xoBpX5LqhMais4end-E6vLKbP4t-k7O2qKbzXHRnYMQwOeE-wM18DZroV3p96RlnAMIsLrbZzYOGtP8X-mnEfraWQXT58KjQ4laVYZAmUJv_BLBTDAo_Yn9qVO-Lswp-9vWTKZUxST8pVqVmsXryfdxOw5LHjxbhVfIiDf5_NMzbqxXVnn6e7rSrYameJK3iVzZ38cW94K1oY35OvEFkKQvKmENfMDu4uc7C-_0WOhkHfHI-ZQTulFPALOJ58P-hBfyEhzpd3b7ICjEf_eJ86429rVZE8xQfU480ExMaGVHOdf5YjL-dXpYghcu_nQoJ3wAu75Q870eZ8KAIoYtPixkUxnMWFOwPDoLjYK10WaDBlF9GtncNjYxbvx9JeGkEnGEw=w1425-h950-no?authuser=0',45% 50%);
    background-size: cover;
};


@include media-breakpoint-up(lg) {
    .course-section-banner  {
        background-position: 60% 45%;
    };
};


// for teacher-section
@include media-breakpoint-up(xxl) {
    .teacher-section-banner  {
        @include  custom-banner ('https://lh3.googleusercontent.com/hFgnGqdqFLahrJxs-NWFZULzda3j4qrJCthxcKFsx_w0Hpdyame6CAaItvYlsESLWf0ftuRFQ9K4CXQqzoNgJERO997IwD5RwXezfjKRvJl5pvC8oI-ZpercU_dw2VYAlxu8OhGreBhJJl8PoJ2ilV-Ka2rtE0BYitpI0U9ODIk51YtTNPdO2U11lERBYxk9wiuTGA8BLZ5HYtHm5eOhmQDJW-zQizQ5QBCgDPjU8gKHWql9KO09PKYCrmbaRinhBUMWEKmBI8DIN9AKzQ79ATYNiEG3b6BQ9FtXPItlund7JscClA8R92lI5M2yP2OTATXx9rFn2SqLBZJnoR6smQYvlsrD4L6qCRSJa-9hyETghPMxOiqk2SJEc4gbysK50ejHuWYdHKblts8uzqwyfFPdZ8XBODbBwmGNWSlydWDWHd4gcuWAkEkgFcpIwlUW-yQWgKtSDbjDFELMBYsMTjjaa4CA8BkdxGLXLC7ltpM7wX76mEwnlwYBqoLChH5eD_YnAenluTkuo6CVlUiVYDmIfg0OHXXs0j-2TQdI-ao3ghB0ABRa3Yq1n_mPdBUTmOH8NuFFKSOHL9wsUxc5YoqtoUn-5FCFr2c0fzkQEmso5p1C2qzK3UL1hdSFmBgd4B7CdBqYs_bAO4ac1xUGVneSp60o2hf6Y3dfLWs6SJWnF8YZLkfpB0oA5ZzgRz6u_VdjTF-fhuUpRuP25oQiGJUVIE_dhSyzVPa3qKwc0UNiG47FUdHlUCkXwnBezT2n8166HEPVGv2My9fzhXO-eA2o0lAbUdz3fvDqJm80Naszm95UX9LIlrIsSPXICXalZInPJY87xK75h5Tu_x-zhrhmQJdU3v1HF1UqQrXX4xlx7kAI9PxOlUJNSUkQV7OamuVaKmsNlaUvBtPXZNm4e2cnCagkHErouTHs9goqbPrJ-ZSf6pe5ofWkaS0B6k5h5OgrTCWlog0lqtvE6efa9CnUblqiQGrPaJHeUcZw59WBK5OmARhsug=w312-h640-no?authuser=0',left); 
    }
};



// 分頁 banner
.sub-banner {
    height: 300px;
    background-attachment: fixed;
};