.btn-primary {
    display: block;
    color: $white;
    transition:  none;
    &:hover ,&:focus ,&:active{
        color: $dark;
        background: $secondary;
        border:  1px solid transparent;
        .material-icons-round {
            color: $dark;
        }
    };

    &.active{
        color: $dark;
        background: $secondary;
        border:  1px solid transparent;
        .material-icons-round {
            color: $dark;
        }
    };

    &:first-child:active {
        color: $dark;
    };
};


.btn-outline-primary{
    &:hover {
    color: $white;
    .material-icons-round {
        color: $white;
    };
}
    &:focus {
        background: $primary;
        color: $white;
        .material-icons-round {
            color: $white;
    };
}

    &.active {
    background: $primary;
    color: $white;
    .material-icons-round {
        color: $white;
    };
}

    &:first-child:active {
    color: $white;
};

};


// 購物車按鈕
.custom-cart-btn {
   &:hover .material-icons-round {
        color: $dark;
    };
    
    &:focus .material-icons-round {
        color: $dark;
    };

    &.active .material-icons-round{
        color: $dark;
    }
};
  


// 播放按鈕
.video-btn {
    display: inline-block;
    position: absolute;
    background: $primary;
    right: 0;
    bottom: 0;
    color: $white;
    border: 1px solid transparent;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 24px;
    font-weight: bold;
    transition: all .5s;
    .material-icons-round {
        display: block;
        font-size: 40px;
       
    };


    &:hover ,&:focus ,&:active {
        color: $dark;
        background: $secondary;
        .material-icons-round {
            color: $dark;
        };
    }
};


@include media-breakpoint-up(lg) {
    .video-btn {
        width: 160px;
        height: 160px;
        .material-icons-round {
            font-size: 60px;
        };
    };
};


// 刪除按鈕
// 購物車單筆
.delCart-btn:hover {
   transition: all .3s;
    .material-icons-round {
      transition: all .3s;
      color: $danger;
      transform: scale(1.1);
    }
};

// 購物車全部
.delAllCart-Btn:hover {
  &:hover {
    color: $white;
  }
};